<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MusicImporter_Lib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <userSettings>
        <MusicImporter_Lib.Properties.Settings>
            <setting name="Address" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="Pass" serializeAs="String">
                <value>PASSWORD</value>
            </setting>
            <setting name="ScanTags" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Optimize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RecanArt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Dirs" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>C:\</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Log" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Clean" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="use_conn_str" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="create_db" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="art_location" serializeAs="String">
                <value />
            </setting>
            <setting name="schema" serializeAs="String">
                <value>music</value>
            </setting>
            <setting name="file_mask" serializeAs="String">
                <value>*.mp3;*.wma;*.ogg;*.flac</value>
            </setting>
            <setting name="art_mask" serializeAs="String">
                <value>*.jpg;*.jpeg;*.png;*.bmp;*.gif</value>
            </setting>
            <setting name="ScanPlaylist" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mysql_conn_str" serializeAs="String">
                <value />
            </setting>
            <setting name="mm_conn_str" serializeAs="String">
                <value />
            </setting>
            <setting name="insert_art" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="art_large" serializeAs="String">
                <value>225</value>
            </setting>
            <setting name="art_small" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="art_xsmall" serializeAs="String">
                <value>50</value>
            </setting>
        </MusicImporter_Lib.Properties.Settings>
    </userSettings>
</configuration>